<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>M&amp;B Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC911B4B1F21A29A009576EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC911B5F1F21A29A009576EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC911B6A1F21A29A009576EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
